.gallery-container {
  display: flex;
  justify-content: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 15em);
  justify-content: space-around;
  row-gap: 3em;
  width: 100%;
  margin-top: 5em;
}

.gallery-img {
  border: 3px solid #a892ee;
  border-radius: 15px;
  padding: 1em;
  width: 340px;
  height: 230px;
  margin: 0.5em 3em 0 3em;
}

.gallery-img:hover {
  cursor: pointer;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box h1 {
  font-family: "Poller One", cursive;
  text-transform: uppercase;
  color: #a892ee;
}

.gallery-button-container {
  display: flex;
}

.gallery-button {
  font-family: "Poller One", cursive;
  text-transform: uppercase;
  border-radius: 40px;
  padding: 0.8em 0 0.8em 0;
  width: 12em;
  margin: 2em 0 3em 0;
}

.gallery-button:hover {
  cursor: pointer;
}

.gallery-add {
  background-color: #40005d;
  color: white;
  border: 3px solid white;
  margin-right: 0.7em;
}

.gallery-remove {
  background-color: #f8dfff;
  color: #40005d;
  border: 3px solid #40005d;
  margin-left: 0.7em;
}
