body {
  background-color: #373737;
}

nav {
  display: flex;
  justify-content: center;
  height: 7em;
}

nav :nth-child(odd) {
  align-self: flex-start;
}

nav :nth-child(even) {
  align-self: flex-end;
}

nav a {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1.6rem;
  background-color: #f8dfff;
  color: #1f1f1f;
  text-decoration: none;
  border-radius: 10px;
  padding: 0.4em 0.6em;
  margin-right: 0.9em;
  transition: transform 0.5s ease-in-out;
}

nav a:hover {
  transform: scale(1.2);
}

.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading-img {
  width: 100px;
  height: 100px;
  animation: rotation 2s infinite linear;
  margin-top: 10em;
  margin-right: 2em;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.loading-text {
  font-size: 2rem;
  color: #a892ee;
  margin-top: 0.5em;
}
